<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.daniel.android.simpledemo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 创建快捷方式 START-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>

    <!-- 创建快捷方式 END-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/RootTheme"
            />
        <activity android:name=".WebViewActivity"/>
        <activity android:name=".GlideActivity"/>
        <activity android:name=".OutterDrawActivity"/>
        <activity android:name=".RecyclerViewActivity"/>
        <activity android:name=".DataBindingActivity"/>
        <activity android:name=".AnimationActivity"/>
        <activity
            android:name=".ShortcutActivity"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".CoverFlowActivity"/>
        <activity android:name=".CpuInfoActivity"/>
        <activity android:name=".VerticalCoverFlowActivity"/>
    </application>

</manifest>
